@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


@theme {
  --color-primary : #E76B6A;
  --color-secondary : #EAF4F4;

  --color-borderColor : #B5B837AB;
  --color-fontColor : #9A2D2C;
  --color-foodBg : #FAC6C6;
  --color-foodBorder : #6B3D41;

  --color-voucherColor : #441A1A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

